<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Email Updated</title>
		<%= yield :head %>
		<script type="text/javascript" src="/javascripts/jquery.js"></script>
		<script type="text/javascript">
			$(document).ready( function () {
			window.close();
			alert("Email address has been updated.");
			});
		</script>
	</head>
	<body>
	</body>
</html>
