<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Deal Purchased</title>
<script>
		$(document).ready( function () {
			alert('Deal purchased!');
			window.close();
		});
</script>
	</head>
	<body>
		Test content
	</body>
</html>